<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809728185233-v0lik8orihbnol0mn61gkoqi74405ovv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809728185233-v0lik8orihbnol0mn61gkoqi74405ovv</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ7fBJKXjw8_SNsJ8axOwqKJ8TNSsFWe4</string>
	<key>GCM_SENDER_ID</key>
	<string>809728185233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsBlogApp</string>
	<key>PROJECT_ID</key>
	<string>news-app-5f984</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-5f984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809728185233:ios:408898c9929765a8a78030</string>
</dict>
</plist>